<!-- Enhanced Navigation Menu with Nigerian-inspired styling -->
<div class="mb-8 p-5 bg-white shadow-lg rounded-xl border-b-4 border-green-500">
  <div class="flex flex-wrap gap-3 justify-start">
    <%= link_to categories_path, class: "px-5 py-3 text-green-700 rounded-lg hover:bg-green-50 font-medium transition duration-300 flex items-center space-x-2 hover:shadow-md border border-gray-100 hover:border-green-200" do %>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
        <path fill-rule="evenodd" d="M5.25 2.25a3 3 0 00-3 3v4.318a3 3 0 00.879 2.121l9.58 9.581c.92.92 2.39.92 3.31 0l4.23-4.231a2.25 2.25 0 000-3.182L11.693 5.33a3 3 0 00-2.122-.879H5.25zM7.5 12a4.5 4.5 0 110-9 4.5 4.5 0 010 9z" clip-rule="evenodd" />
      </svg>
      <span>Categories</span>
    <% end %>
    
    <%= link_to tags_path, class: "px-5 py-3 text-green-700 rounded-lg hover:bg-green-50 font-medium transition duration-300 flex items-center space-x-2 hover:shadow-md border border-gray-100 hover:border-green-200" do %>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
        <path fill-rule="evenodd" d="M5.25 2.25a3 3 0 00-3 3v4.318a3 3 0 00.879 2.121l9.58 9.581c.92.92 2.39.92 3.31 0l4.23-4.231a2.25 2.25 0 000-3.182L11.693 5.33a3 3 0 00-2.122-.879H5.25zM7.5 12a4.5 4.5 0 110-9 4.5 4.5 0 010 9z" clip-rule="evenodd" />
      </svg>
      <span>Tags</span>
    <% end %>
    
    <%= link_to latest_posts_path, class: "px-5 py-3 text-green-700 rounded-lg hover:bg-green-50 font-medium transition duration-300 flex items-center space-x-2 hover:shadow-md border border-gray-100 hover:border-green-200" do %>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
        <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zM12.75 6a.75.75 0 00-1.5 0v6c0 .414.336.75.75.75h4.5a.75.75 0 000-1.5h-3.75V6z" clip-rule="evenodd" />
      </svg>
      <span>Latest</span>
    <% end %>
    
    <%= link_to popular_posts_path, class: "px-5 py-3 text-green-700 rounded-lg hover:bg-green-50 font-medium transition duration-300 flex items-center space-x-2 hover:shadow-md border border-gray-100 hover:border-green-200" do %>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
        <path fill-rule="evenodd" d="M15.22 6.268a.75.75 0 01.44.44l2.883 8.648a.75.75 0 01-.476.944l-8.649 2.883a.75.75 0 01-.944-.476l-2.883-8.648a.75.75 0 01.476-.944l8.649-2.883a.75.75 0 01.484.036z" clip-rule="evenodd" />
        <path d="M15.919 11.121l.634 1.373a.75.75 0 01-1.368.618l-.634-1.373a.75.75 0 111.368-.618z" />
      </svg>
      <span>Popular</span>
    <% end %>
    
    <% if user_signed_in? %>
      <%= link_to user_path(current_user), class: "px-5 py-3 text-green-700 rounded-lg hover:bg-green-50 font-medium transition duration-300 flex items-center space-x-2 hover:shadow-md border border-gray-100 hover:border-green-200" do %>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
          <path fill-rule="evenodd" d="M7.5 6a4.5 4.5 0 119 0 4.5 4.5 0 01-9 0zM3.751 20.105a8.25 8.25 0 0116.498 0 .75.75 0 01-.437.695A18.683 18.683 0 0112 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 01-.437-.695z" clip-rule="evenodd" />
        </svg>
        <span>My Profile</span>
      <% end %>
    <% end %>
  </div>
</div>